<html>
	<head>
		<title>Surgery Concierge</title>
		<!-- JS and CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}" />
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	    <script src="{{ url_for('static', filename='js/bootstrap-formhelpers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-formhelpers.min.js') }}"></script>
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.2.min.js"></script>
		<script src="{{ url_for('static', filename='js/custom_script.js') }}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-formhelpers.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-formhelpers.min.css') }}" />
		<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div id="header">
			<br><div id="header-text">Surgery Concierge</div>
		</div>
		<div id="template-form" style="text-align:center">
			<form id="the-form" name="myform" onsubmit="return onSubmitForm();">
				<section id="sect">Schedule a Patient's Surgery</section>
				<br><br>
				<div class="bfh-datepicker" data-min="today" data-align="left" data-name="date"></div><br><br>
				<div class="dropdown">
					<button type="button" onclick="myFunction()" class="dropbtn">View Templates</button>
					<div id="myDropdown" class="dropdown-content">
						<a href="#">Link 1</a>
						<a href="#">Link 2</a>
						<a href="#">Link 3</a>
					</div>
				</div>
				<br><br><br>
				<div id="insn-table" style="display:none;">
					<table style="width:90%" id="myTable">
						<thead>
							<th></th>
							<th>Patient Condition</th>
							<th>Patient Instruction Preview</th>
						</thead>
						<tbody></tbody>
					</table>
					<br><br><br>
					<input style="width:50%" type='submit' class="btn btn-default" value="Complete Template"/>
					<br><br>
				</div>
			</form>
		</div>
	</body>
</html>
