<html>
	<head>
		<title>Surgery Concierge - Protocol Entry Portal</title>
		<!-- JS and CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}" />
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.2.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}" />
		<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="{{ url_for('static', filename='js/custom_script.js') }}"></script>
	</head>
	<body>
		<div id="header">
    		<br><div id="header-text">Surgery Concierge</div>
	  	</div>
	  	<div id="template-form" style="text-align:center">
    	    <form id="the-form" name="myform">
    	    	<br><br>
    	    	
	      		<section>Create a New Surgery Template</section>
	      		<br>
	      		<input id='template-name' type='text' style="width:60%;font-size:20px; text-align:center;" placeholder='Title of Template'/>
	      		<br><br>
				<div class="dropdown">
		      		<button type="button" onclick="myFunction()" class="dropbtn btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View Existing Templates <span class="caret"></button>
		      		<div id="myDropdown" class="dropdown-content"></div>
		    	</div>
	      		<br><br>
	      		<table style="width:95%; margin: 0px auto; text-align:center;" id="myTable">
					<tr>
		  				<th>&nbsp;&nbsp;&nbsp;</th>
		  				<th>Patient Condition</th>
		  				<th>Instruction to Patient</th>
		  				<th>When</th>
					</tr>
					<tr>
		  				<td><input type='checkbox'/></td>
		  				<td><input type='text' placeholder='e.g. takes Aspirin regularly'/></td>
		  				<td><input type='text' placeholder='e.g. stop taking Aspirin'/></td>
		  				<td>
		  					<input id="time_entry" style="width:25%" type='number' min="0"/>
		  					<select name="time_unit">
		  						<option value="days">days</option>
		  						<option value="weeks">weeks</option>
		  					</select>
		  				</td>
		  			</tr>
		  		</table>
		  		<br>
		  		<button class="btn btn-default" type="button" style="float:left" onclick="createNewTemplate()">Add Item</button>
		  		<br>
		  		<br>
		  		<button  onclick="onSubmitForm();" style="width:50%" type='button' class="btn btn-default">Create Template</button>
		  		<br><br>
		  	</form>
		</div>
	</body>
</html>
