<html>
	<head>
		<title>Surgery Concierge</title>
		<!-- JS and CSS -->
                <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}" />
                <script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.2.min.js"></script>
                <script src="{{ url_for('static', filename='js/custom_script.js') }}"></script>
		<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	
	<body>
	  <div id="header">
	    <br><div id="header-text">Surgery Concierge</div>
    	  </div>
	  <div class="dropdown">
	    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
	    <div id="myDropdown" class="dropdown-content">
	      <a href="#">Link 1</a>
	      <a href="#">Link 2</a>
	      <a href="#">Link 3</a>
	    </div>
	  </div>
	  <div id="template-form" style="text-align:center">
            <form id="the-form" name="myform" onsubmit="return onSubmitForm();">
	      <section>Create a New Surgery Template</section>
	      <br>
	      <input id='template-name' type='text' style="width:60%;font-size:20px" value='Title of Template'/>
	      <br><br>
	      <table style="width:90%" id="myTable">
		<tr>
		  <th></th>
		  <th>Patient Condition</th>
		  <th>Instruction to Patient</th>
		  <th>When</th>
		</tr>
		<tr>
		  <td><input type='checkbox'/></td>
		  <td><input type='text' value='e.g. takes Aspirin regularly'/></td>
		  <td><input type='text' value='e.g. stop taking Aspirin'/></td>
		  <td><input type='text' value='e.g. seven days before the surgery'/></td>
		</tr>
	      </table>
	      <br>
	      <button type="button" style="float:left" onclick="createNewTemplate()">Add Item</button>
	      <br>
	      <br>
	      <input style="width:50%" type='submit' class="btn btn-default" value="Create Template"/>
	    </form>
	  </div>

	</body>
</html>
