<html>
  <head>
    <style>
h2 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

#header {
	width: 100%;
	height: 70px;
	position: relative;
	background-color: #7FC7AF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    position: relative;
    left: 10px;
}

form {
      width: 50%;
      background-color: #F0F0FF;
      font-size: 0.8em;
      position: absolute;
      left:25%;
}

input {
      margin-top: 10px;
      margin-left:10px;
      margin-right:10px;
}
supplements {
      display: block;
      padding-left: 40px;
}
aspirin {
      display: block;
      padding-left: 40px;
}
nsaid {
      display: block;
      padding-left: 40px;
}
thinner {
      display: block;
      padding-left: 40px;
}
diuretic {
      display: block;
      padding-left: 40px;
}
    </style>
    <title>Surgery Concierge</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
  </head>
  <body>
    <div id="header">
      <h2><br/>Patient Home</h2>
    </div>
    <div id="instruction-form" style="display: inline">
    	<script type="text/javascript">
			function OnSubmitForm()
			{
			  if(document.pressed == 'Get PDF')
			  {
			   document.myform.action ="generate-pdf";
			  }
			  else
			  if(document.pressed == 'Get ICS')
			  {
			   document.myform.action ="generate-ics";
			  }
			  else
			  if(document.pressed == 'Get Calendar')
			  {
			    document.myform.action ="generate-calendar";
			  }
			  else
			  if(document.pressed == 'Get Texts')
			  {
			    document.myform.action ="generate-text";
			  }
			  return true;
			}
		</script>
      <form id="the-form" name="myform" onsubmit="return OnSubmitForm();" target="_blank">
	<p><b>Surgery Date:</b>
	  <input type="number" name="month" min="1" max="12" placeholder="M " required="true">
	  <input type="number" name="day" min="1" max="31" placeholder="D " required="true">
	  <input type="number" name="year" min="2016" max="2018" value="2016" required="true">
	</p>
	<p>If this is an outpatient procedure, would you like reminders to make arrangements for someone to pick you up?<br>
	  <input type="radio" name="pickup" value="yes" checked> Yes<br>
	  <input type="radio" name="pickup" value="no"> No<br>
	</p>
	<p> Phone number for text reminders (optional):<br>
	  <i>Please note that by providing a number and clicking 'Get Texts' below, you are opting into the text system.</i><br>
	  <input type="tel" name="phone-number"><br>
	</p>
	<!-- value= <days before>: <instruction> -->
	<p><b>Pre-Surgery Questionnaire:</b><br>
	  <i>Check the following items if they apply to you:</i><br><br>
	  <input type="checkbox"
		 name="insn0"
		 value="0">
	  Do you wear contact lenses?<br>
	  <input type="checkbox"
		 name="insn1"
		 value="1">
	  Do you take medications in the morning?<br>
	  <input type="checkbox"
		 name="insn2"
		 value="2">
	  Do use an inhaler, CPAP mask, or eye drops?</p>
	  <p> Do you take herbal products or nutritional supplements?</p> 
	  <supplements> 
	  	<input type="checkbox"
			name="insn3a"
			value="3a">
	  	Echinacea<br>
	  	<input type="checkbox"
			name="insn3b"
			value="3b">
		Ephedra<br>
		<input type="checkbox"
			name="insn3c"
			value="3c"> 
	       	Feverfew<br>
		<input type="checkbox"
		 	name="insn3d"
			value="3d"> 
	     	Garlic<br>
	  	<input type="checkbox"
		 	name="insn3e"
		 	value="3e"> 
		Ginger<br>
	  	<input type="checkbox"
			name="insn3f"
			value="3f"> 
          	Ginkgo biloba<br>
	  	<input type="checkbox"
			name="insn3g"
			value="3g"> 
	  	Ginseng<br>
	  	<input type="checkbox"
			name="insn3h"
		 	value="3h"> 
	 	Kava Kava<br>
	  	<input type="checkbox"
			name="insn3i"
		 	value="3i"> 
	  	Saw palmetto<br>
	  	<input type="checkbox"
			name="insn3j"
			value="3j"> 
	 	St. John''s West<br>
	  	<input type="checkbox"
			name="insn3k"
			value="3k"> 
	  	Fish oil<br>
	  	<input type="checkbox"
			name="insn3l"
			value="3l"> 
	  	Vitamin B
	  </supplements>
	  <p>Do you take any medications that include aspirin?</p> 
	  <aspirin>
	  	<input type="checkbox"
			name="insn4a"
			value="4a"> 
	  	Aspirin<br>
	  	<input type="checkbox"
			name="insn4b"
			value="4b"> 
	  	Anacin<br>
	  	<input type="checkbox"
			name="insn4c"
			value="4c"> 
	  	Ascriptin<br>
	  	<input type="checkbox"
			name="insn4d"
			value="4d"> 
	  	Pepto-Bismol<br>
	  	<input type="checkbox"
			name="insn4e"
			value="4e"> 
		Bufferin<br>
	  	<input type="checkbox"
			name="insn4f"
			value="4f"> 
		Alka-Seltzer<br>
	  	<input type="checkbox"
			name="insn4g"
			value="4g"> 
		Excedrin<br>
	  	<input type="checkbox"
			name="insn4h"
			value="4h"> 
		Florinal<br>
	  	<input type="checkbox"
			name="insn4i"
			value="4i"> 
		Lortab ASA
	  </aspirin>
  	  <p>Do you take any Non-Steroidal Anti-inflammatory Drugs (NSAIDs)?</p>
	  <nsaid> 
	  	<input type="checkbox"
			name="insn5a"
			value="5a"> 
		 Ibuprofen (Advil Motrin, Nuprin, Medipren)<br>
	  	<input type="checkbox"
			name="insn5b"
			value="5b"> 
		 Naproxen (Aleve, Anaprox, Naprosyn)<br> 
	  	<input type="checkbox"
			name="insn5c"
			value="5c"> 
		 Diclofenac (Cataflam, Voltaren, Arthrotec)<br> 
	  	<input type="checkbox"
			name="insn5d"
			value="5d"> 
		 Celebrex<br> 
	  	<input type="checkbox"
			name="insn5e"
			value="5e"> 
		 Toradol (ketorolac)<br> 
	  	<input type="checkbox"
			name="insn5f"
			value="5f"> 
		 Lodine (etodolac)<br> 
	  	<input type="checkbox"
			name="insn5g"
			value="5g"> 
		 Feldene (piroxicam)<br> 
	  	<input type="checkbox"
			name="insn5h"
			value="5h"> 
		 Relefeo (nuburnetce)<br>
	  </nsaid>
	  <input type="checkbox"
		 name="insn6"
		 value="6">
	  Do you take Accutane (isotretinoin)?<br>
	  <input type="checkbox"
		 name="insn7"
		 value="7">
	  Do you take Suboxone?<br>
	  <input type="checkbox"
		 name="insn8"
		 value="8">
	  Do you take Cialis (tadalafil), Viagra (sildenafil) or Levitra (Vardenafil)?
	  <p>Do you take the any blood thinning medicines?</p> 
	  <thinner> 
	  	<input type="checkbox"
			name="insn9a"
			value="9a"> 
	  	Plavix (Clopidogrel)<br>
	  	<input type="checkbox"
			name="insn9b"
			value="9b"> 
	  	Xarelto (Rivaroxaban)<br>
	  	<input type="checkbox"
			name="insn9c"
			value="9c"> 
	  	Ticlid (Ticlopidine)<br>
	  	<input type="checkbox"
			name="insn9d"
			value="9d"> 
	  	Pletal (Cilostazol)<br>
	  	<input type="checkbox"
			name="insn9e"
			value="9e"> 
	  	Brilinta (Ticagrelor)<br>
	  	<input type="checkbox"
			name="insn9f"
			value="9f"> 
	 	Effient (prasugrel)<br> 
	  	<input type="checkbox"
			name="insn9g"
			value="9g"> 
	  	Aggrenox (Aspirin-Dipridarrola)<br>
		<input type="checkbox"
			name"insn12"
			value="12"> <!-- hacky fix to give a specific medication switch if you r taking warfarin -->
		Warfarin (Coumadin)
	  </thinner>
	  <p>Do you take medications for diabetes, including insulin? Please list doctor instructions below.</p>
	  <input type="text"
		 name="insn10">
	  <p>Do you take water pills (diuretics)?</p>
	  <diuretic> 

	  	<input type="checkbox"
			name="insn11a"
			value="11a"> 
	  	Furosemide (Lasix)<br>
	  	<input type="checkbox"
			name="insn11b"
			value="11b"> 
		Hydrochlorothiazide (HCTZ)<br>
	  	<input type="checkbox"
			name="insn11c"
			value="11c"> 
 		Medicines combined with hydrochlorothiazide (HCT)<br><br>
	  </diuretic>
	<!--  <input type="submit" name="get" onclick="document.pressed=this.value" value="Get Calendar"> -->
	  <input type="submit" name="get" onclick="document.pressed=this.value" value="Get ICS">
	  <input type="submit" name="get" onclick="document.pressed=this.value" value="Get PDF">
	  <input type="submit" name="get" onclick="document.pressed=this.value" value="Get Texts">
      </form>
    </div>
  </body>
</html>
