<html>
	<head>
		<title>Surgery Concierge Patient UI</title>
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.2.min.js"></script>
	    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
		<link rel="stylesheet" href="{{ url_for('static', filename='custom_style.css') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div id="header">
			<br><div id="header-text">Surgery Concierge Patient UI</div><br>
    	</div>
    	<div id="page" style="display: inline; text-align:center;" class="container-fluid">
	    	<div id="top-block"><br><br><br></div>
			<section>Access Key&nbsp;
				<input type="text"  name="accessKey" id="accessKey" style="text-align:center;">
			</section>&nbsp;
			<div style="text-align:center;">
				<button type="button" class="btn btn-success" onclick="getPatientInsns()">Get Notification Options</button>
			</div><br>
			<div class="buttons" id="notifs-buttons" style="display:none;">
				<br>
				<div class="row" style="text-align:center;">
					<div class="col-xs-6 col-sm-4">
						<form action="get-ics">
			                <button type="submit" id="ics" onclick="getIcs()" class="btn btn-default" value="Get ICS" data-toggle="tooltip" data-placement="top" title="This will generate a file that can be opened by the default calendar app on your computer.">Get ICS</button>
			                <input type="text" style="display:none;" id="ics_text" name="ics_text" value="">
			            </form>
			        </div>
					<div class="col-xs-6 col-sm-4">
						<form action="get-pdf">
			                <button type="submit" id="pdf" onclick="getPdf()" class="btn btn-default" value="Get PDF" data-toggle="tooltip" data-placement="top" title="This will generate a PDF with your instructions. You can print it or download and email it to yourself.">Get PDF</button>
			                <input type="text" style="display:none;" id="pdf_text" name="pdf_text" value="">
			            </form>
			        </div>
					<div class="col-xs-6 col-sm-4">
						<form action="get-text">
			                <button type="submit" id="text" onclick="getTexts()" class="btn btn-default" value="Get Texts" data-toggle="tooltip" data-placement="top" title="You are opting into a system that will send you reminders by text regarding your surgery.">Get Texts</button>
			                <input type="text" style="display:none;" id="texts_text" name="texts_text" value="">
			            </form>
			        </div><br>
	                <i>Hover over the buttons for more information on what it does. If you are on a mobile device long press on the button.</i>
				</div>
			</div>
    		<div id="bottom-block"><br><br><br></div>
	    </div>
	</body>
</html>