#header-text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #FFFFFF;
}

#header {
	width: 100%;
	margin: auto;
	position: relative;
	background-color: #7FC7AF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

section {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
}

input {
   text-align:center;
}

#page {
  width: 90%;
  background-color: #F0F0FF;
  font-size: 0.8em;
  position: absolute;
  left:5%;
}

.form-control {
  width: 50%;
}

.col-md-4 {
  width: 30%;
}

.form-div {
  width: 30%;
}