<template name="editTask">
	<!-- Display all of our task info, contain text fields for editing  -->
    <div class="task-info" id="{{this._id}}">
		<strong>You are editing a task for: </strong>{{this.projectName}}
		<form>
			<strong>User Story Name: </strong><br>
			<input type="text" name="taskName" value="{{this.taskName}}" required>
			<br><br>

			<strong>User Story Description: </strong><br>
			<textarea name="taskDescription" value="" class="input-xlarge" required>{{this.taskDescription}}</textarea>
			<br><br>

			<strong>Difficulty:</strong><br>
			<input type="number" name="taskDifficulty" value="{{this.taskDifficulty}}" required>
			<br><br>

			<strong>Time Estimate: </strong><br>
			<input type="text" name="taskLength" value="{{this.taskLength}}" required>
			<br><br>

			<strong>Sprint: </strong><br>
			<select name="taskSprint">
				<option value="Unassigned">Unassigned</option>
				{{#each activeSprints}}
				<option id={{this._id}} value={{this.sprintNumber}}>Sprint {{this.sprintNumber}}</option>
				{{/each}}
			</select>
			<br><br>
			
			<input type="submit" value="Submit Changes">
		</form>
	</div>
</template>
