#header-text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #FFFFFF;
}

#get {
	float: center;
}

#header {
	width: 100%;
	height: 80px;
	margin: auto;
	position: relative;
	background-color: #7FC7AF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

section {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
}

.rand_text {
  margin-left:10px;
  margin-right:10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.2em;
  position: relative;
}

.rand_text_small {
  margin-left:10px;
  margin-right:10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  position: relative;
}

.radio_button_set {
  margin-left:20px;
  margin-right:20px;	
}

form {
  width: 90%;
  background-color: #F0F0FF;
  font-size: 0.8em;
  position: absolute;
  left:5%;
}

.bfh-phone {
	margin-left:20px;
  margin-right:10px
}

.diab_text {
	margin-left:20px;
  margin-right:10px
}

.bfh-datepicker{
  margin-left:25%;
  width:50%;
}

.buttons {
	text-align:center;
}

.date_text {
  width:25%;
}

input {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}

bullet {
  padding-top: 50px;
  padding-bottom: 50px;
}

druglist {
  font-family: Verdana, Arial, sans-serif;
  display: block;
  padding-left: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 0px;
}

table .last, td:last-child { 
    padding: 2px 24px 2px 0px; 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}