Flask==1.0
Jinja2==2.11.3
MarkupSafe==0.23
Werkzeug==0.15.3
apiclient==1.0.2
argparse==1.2.1
boto3==1.3.0
botocore==1.4.12
discovery==0.0.4
docutils==0.12
fpdf==1.7.2
futures==3.0.5
google-api-python-client==1.5.0
httplib2==0.18.0
icalendar==3.9.2
itsdangerous==0.24
jmespath==0.9.0
oauth2client==2.0.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
python-dateutil==2.5.2
pytz==2016.3
requests==2.5.0
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
twilio==5.4.0
uritemplate==0.6
urllib3==1.24.2
wsgiref==0.1.2
